.itemBlock {
  display: flex;
  flex-direction: column !important;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgb(201, 201, 201);
  background-color: white;
  padding: 20px;
  .titleBlock {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    align-self: center;
    column-gap: 20px;
    .upBoxItem {
      outline: 1px solid rgb(0, 6, 176);
      border-radius: 3px;
      position: relative;
      padding: 10px 20px;
      svg {
        position: absolute;
        top: -3px;
        right: -12px;
        transform: rotate(10deg);
        color: orangered;
      }
      span {
        font-size: 16px;
        white-space: nowrap;
        color: rgb(255, 255, 255);
        color: rgb(0, 6, 176);
      }
    }

    @media (max-width: 600px) {
      & {
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
      }
    }
    h2 {
      font-size: 24px;
      font-weight: 500;
      text-align: center;
      display: flex;
      align-items: center;
      column-gap: 15px;
      white-space: nowrap;
      padding: 0;
      margin: 0;
    }
  }

  .commentBlock {
    background: linear-gradient(45deg, #da4b6a, #cb0025);
    box-shadow: inset 0 0 40px rgb(186, 0, 0);
    margin-top: -20px;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h3 {
      color: white;
      font-size: 23px;
      margin-bottom: 10px;
      font-weight: 500;
    }
    p {
      color: white;
      font-size: 19px;
      text-align: center;
    }
  }
  .form {
    .formUpBlock {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      margin-bottom: 15px;
      .idBlock {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
      }
    }
    .formCenterBlock {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      margin-bottom: 15px;
      @media (max-width: 500px) {
        & {
          grid-template-columns: 1fr;
        }
      }
      .mediaBlock {
        border: 1px solid rgb(200, 200, 200);
        border-radius: 4px;
        height: 200px !important;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        padding: 10px;
        align-items: center;
        video {
          height: 100%;
          width: 100%;
        }
        .editBtn {
          position: absolute;
          top: 10px;
          right: 10px;
          background-color: white;
          padding: 0;
          z-index: 3;
          label {
            width: 100%;
            height: 100%;
            padding: 10px;
            border-radius: 50%;
            border: none;
            outline: none;
          }
          input {
            display: none;
          }
        }
        .resetBtn {
          position: absolute;
          top: 10px;
          left: 10px;
          background-color: white;
          padding: 10px;
        }
      }
      label {
        border: 1px solid rgb(200, 200, 200);
        border-radius: 4px;

        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        p {
          margin-bottom: 0;
          text-align: center;
          color: gray;
        }
        input {
          display: none;
        }
      }
    }
    .formDownBlock {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
    .rightBtnBlock {
      display: grid;
      column-gap: 15px;
      button {
        font-size: 13px;
        font-weight: 400;
      }
    }
  }
}

.grayBtn {
  color: rgb(45, 45, 45) !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  &:disabled {
    background: linear-gradient(
      rgba(0, 0, 0, 0.12),
      rgba(0, 0, 0, 0.12)
    ) !important;
    color: rgba(0, 0, 0, 0.26) !important;
    box-shadow: unset !important;
  }
}

.inputBox {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 10px;
  button {
    background-color: #3f51b5;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    &:hover {
      background-color: #4d5fc8;
    }
  }
  .textAreaBtn {
    max-width: 120px;
    align-self: flex-start;
  }
}

.labelVideoInEditBlock {
  font-weight: 500;
  font-size: 18px;
  color: black;
  max-width: 150px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

.followLinkBtn {
  font-size: 11px !important;
  line-height: 120% !important;
}

.vbInput {
  background-color: rgb(246, 253, 255);
}

._btn {
  font-size: 11px !important;
  font-weight: 400 !important;
  height: 100% !important;
  line-height: 120% !important;
  &:disabled {
    background: linear-gradient(
      rgb(220, 227, 230),
      rgb(220, 227, 230)
    ) !important;
    color: rgba(0, 0, 0, 0.26) !important;
    box-shadow: unset !important;
  }
}

._greenBtn {
  background: linear-gradient(-45deg, #339e9c, #25aa5c) !important;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%) !important;
  &:hover {
    background: linear-gradient(-45deg, #25aa5c, #3facab) !important;
  }
}

._purpleBtn {
  background: linear-gradient(-45deg, #3f51b5, #5422a4) !important;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%) !important;
  color: white !important;
  padding: 20px !important;
  &:hover {
    background: linear-gradient(-45deg, #6430b8, #3f51b5) !important;
  }
}

.fixedBtn {
  background: linear-gradient(45deg, #da4b6a, #cb0025) !important;
  color: white !important;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%) !important;
  &:hover {
    background: linear-gradient(45deg, #cb0025, #da4b6a) !important;
  }
}

._iconBtn {
  width: 120px !important;
  @media (max-width: 600px) {
    & {
      width: 40px !important;
      padding: 0 !important;
    }
  }
  svg {
    display: none;
    @media (max-width: 600px) {
      & {
        display: unset;
      }
    }
  }
  span {
    @media (max-width: 600px) {
      & {
        display: none;
      }
    }
  }
}
